.navbar {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
}
.banner {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    margin-top: 0;
    padding-top: 10%;
    padding-bottom: 20%;
    color: black;
}
.navigasi {
    margin-right: 75%;
    margin-left: 75%;
}
.properti {
    padding-left: 10px;
}